

body{
  font-family: 'Open sans', sans-serif ;
  align-content: center;
  margin: auto;
  width: 100%;
  text-align: center;
  font-weight: 300;
  }

header{
  background-color: #404041;
  color: #E6E7E8;
  font-size: 36px;
  padding: 20px;
}

strong{
  color: #ED458B;
  font-weight: 700;
}

.rangestyle{
  margin: 5px 10px 20px 10px;
  width: 200px;
  height: 40px;
  position: inline;
}

.guessstyle{
  width: 140px;
  padding: 5px;
  font-size: 16px;
}

button{
  background-color: #929497;
  color: #FFFFFF;
  border: ;
  text-align: center;
  font-size: 30px;
  padding: 5px;
  margin: 30px;
  width: 20%;
  border-radius: 25px;
}

button:disabled {
  background-color: #D0D2D3;
}

button:hover:enabled{
  background-color: #EB008B;
}


.number{
  font-size: 20px;
  color: #E6E7E8;
  padding: 5px 300px 5px 0px;
}

#guess{
  font-size: 60px;
  color: #EB008B;
}

h1{
  font-family: impact;
  color: red;
  background-color: #5BD287;
  margin: 100px;
}

h2{
  font-size: 16px;

}

#set_min_max{
  font-size: 20px;
  margin-top: -10px;
  border-top: none;
}


